*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
   margin:0;
   padding:0;
   border:0;
   outline:0;
   font-size:100%;
   vertical-align:baseline;
   background:transparent;
}

body {
   line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
   display:block;
}

nav ul {
   list-style:none;
}

blockquote, q {
   quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
   content:'';
   content:none;
}

a {
   margin:0;
   padding:0;
   font-size:100%;
   vertical-align:baseline;
   background:transparent;
}

(we can change the colours on this)
ins {
   background-color:#ff9;
   color:#000;
   text-decoration:none;
}

(we can change the colours on this)
mark {
   background-color:#ff9;
   color:#000;
   font-style:italic;
   font-weight:bold;
}

del {
   text-decoration: line-through;
}

abbr[title], dfn[title] {
   border-bottom:1px dotted;
   cursor:help;
}

table {
   border-collapse:collapse;
   border-spacing:0;
}

(we can change the colours)
hr {
   display:block;
   height:1px;
   border:0;
   border-top:1px solid #cccccc;
   margin:1em 0;
   padding:0;
}



h1 {
  color: black;
  font-size: 80px;
  font-family: calibri light;
  margin: 50px;
  background-color: #7C9E39;
  text-align: center;
}

h2 {
  color: white;
  font-size: 25px;
  font-family: calibri light;
  margin: auto;
  background-color: #7C9E39;
  text-align: left;
}

}
p {
  color: white;
  font-size: 30px;
  font-family: calibri;
  background-color: #7C9E39;
  text-align: center;
}

h3 {
  color: white;
  font-size: 25px;
  font-family: calibri;
  background-color: #969D88;
  text-align: centre;

}
body {
    margin: 0;
    margin-top: 50px;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: #F4CF78;

}

footer {
  background-color: #7C9E39;
}
header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}

section {
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero .profile-img {
    width: 300px;
}

footer {
    text-align: center;
    padding: 50px;
}

#Home {
  background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://amp.businessinsider.com/images/5b9be81fe199f307428b576f-750-563.jpg');
}

#About {
  background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://cdn.shopify.com/s/files/1/0041/1779/0832/products/jay-hydro-1_720x.jpg?v=1544461560');
}

#Contact {
  background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7jfR3rk0BmL-SimyF6ZMmcXG6vuLxYEvEUJDGn8i9n7MNqE2j');

}
